<!DOCTYPE html>
<html>

<head>
  <title>Frontend</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Ejericios de Frontend
  </h1>
  <div>
    <a href="p5">
      <p>Ejercicio 5 </p>
    </a>
  </div>
  <div>
    <a href="/p6">
      <p>Ejercicio 6 </p>
    </a>
  </div>
  <div>
    <a href="/p7">
      <p>Ejercicio 7 </p>
    </a>
  </div>
  <div>
    <a href="/p8">
      <p>Ejercicio 8 </p>
    </a>
  </div>
</body>

</html>